*{
    padding: 0;
    margin: 0;
}
/* heading-prat */
.headi{
    padding: 10px 0;
}
.mosarof{
    font-size: 80px;
    color: blue;
}

.mosarof{
    width: 1000px;
    height: 600px;
}
/* service-prat */
.pad{
    padding: 80px 100px;
    display: inline-block;
    border-radius: 0 50px 50px 0;
    margin-left: 40px;
}
.seo{
    padding: 80px 120px;
    border-radius: 50px 0 0 50px;
    display: inline-block;
    margin-right: 40px;
}
.pade{
    padding: 80px 55px;
    display: inline-block;
    border-radius: 0 50px 50px 0;
    margin-left: 40px;
}
/* contact-prat */
.mosarof1{
    padding: 8px 25px;
    border-radius: 4px;
    text-shadow: 1px -1px rgb(255, 255, 255);
    letter-spacing: 2px;
}
/* fotter-prat */
.fotter{
    font-size: 20px;
    padding: 25px 0;
    margin-top: 10px;
}
